<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>

<style>
c:hover
{
background-color:green;
}
</style>
</head>
<body bgcolor="#9C2662">
	<table id="bagtable" width="999"  height="900" border="0" bgcolor="#FFFFFF" align="center">
		<tr>
			<td valign="top">
			<td width="1053" height="110" valign="top"><%= link_to (image_tag "logo.PNG", :title => "Logo")  %>
			<div style="float:right; margin-right:auto;"><span class="style17"><span class="style18"></span></span>	</div>

				<table width="950" height="289" border="0" >
					<tr>
						<td width="150" valign="top">
							
		 
						</td>
						<td width="800" height="250">
		
						<center>
							<table width=85%  BGCOLOR="#000000"">
								<tr>
									<td>
										<td width="900" height="50"> 
										
										<marquee behavior="alternate"> 
											<%= link_to (image_tag "baners.PNG", :title => "baner")%>
										</marquee>
											<center>
												<h2 class="style15"><c>ABOUT US </c></h2>
												  </center>
												  <left>
												<p>Tired of scouring the internet for deals, coupons and promotional codes in the fastest developing e-commerce industry in India? FreeIndiaCoupons.com will come to rescue.&nbsp;FreeIndiaCoupons.com  is a community driven website where shoppers themselves contribute the coupons for other shoppers to save money. We at FreeIndiaCoupons.com  validate every coupon submitted by the users and make sure the coupons are working.</p>
        <p>In this fast moving&nbsp;eCommerce&nbsp;market, never miss an offer, or let the coupon expire, For latest updated coupons   subscribe to our email newletter to get latest coupons in your email everyday.</p>
        <p>Since only price conscious consumers are likely to spend the time to claim the savings, coupons function as a form of&nbsp;price discrimination, enabling retailers to offer a lower price only to those consumers who would otherwise go elsewhere. In addition, coupons can also be targeted selectively to regional markets in which price competition is great.</p>   </left>

		<table>
 <tr>
  <td>
   Example of 			
  </td>
  <td>
   <ul class="dropv">
   <li><a href="#">drop-down links</a> in imbedded text.	
    <ul>
      <li><a href="#">Link one</a></li>
      <li><a href="#">Link two</a></li>
      <li><a href="#">Link three</a></li>		
     </ul>
    </li>
   </ul>			
  </td>	
 </tr>
</table>
											
										  
									</td>
								</tr>
							</table>
						</center>
					</td>
  

					<table>	  
						<tr>
							<td>
								<table width="100" border="1" align="left">
									<tr>
									
									</tr> 
									
								</table>
							</td>
						</tr>
					</table>
	 
					<center>
					<div class="copyright">
					Copyright &copy; 
					<a href="http://www.onevega.com" class="white">Onevega</a> 
					2013. All rights reserved.
					</div>
					</center>

			</tr>
 
	</table>


