<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<body bgcolor="#9C2662">
	<table id="bagtable" width="999"  height="900" border="0" bgcolor="#FFFFFF" align="center">
		<tr>
			<td valign="top">
			<td width="1053" height="110" valign="top"><%= link_to (image_tag "logo.PNG", :title => "Logo")  %>
			<div style="float:right; margin-right:auto;"><span class="style17"><span class="style18"></span></span>	</div>

				<table width="950" height="289" border="0" >
					<tr>
						<td width="150" valign="top">
							
		 
						</td>
						<td width="800" height="250">
		
						<center>
							<table width=85%  BGCOLOR="#000000"">
								<tr>
									<td>
										<td width="900" height="50"> 
										
										
											<center>
												 
	  <%= link_to (image_tag "dis.PNG", :title => "secrh")%>
	 
      <div class="style18">
	   <br/>
	    <br/>
        <p><b>
		Please read the following Terms and Conditions which are applicable to your use of FreeIndiaCoupons.com.
		</b></p>
		1. FreeIndiaCoupons.com has no involvement in the actual transaction between buyer and seller. The information contained in this web site is intended, solely to provide information for the personal use of the reader, who accepts full responsibility for its use.
<p>&nbsp;</p>
		2. FreeIndiaCoupons.com does not represent or endorse the accuracy or reliability of any information, including content or advertisements (collectively, the "materials") contained on, distributed through, or linked, downloaded or accessed from any of the services contained on this web site, or the quality of any products, information or other materials displayed, or obtained by you as a result of an advertisement or any other information or offer in or in connection with the service.
<p>&nbsp;</p>
		3. FreeIndiaCoupons.com reserves the right to cancel any listing at any time, and reserves the right to prohibit or restrict access to the Services to anyone at any time, with or without cause. Electronic mail or other forms of input to the site provided by visitors may be used by FreeIndiaCoupons.comfor any purpose without compensation to the visitor. FreeIndiaCoupons.com does not take any responsibility of the information you send to any of the listed members or as to how they use the provided information.
<p>&nbsp;</p>
		4. The information contained on this site carries no expressed or implied warranties as to accuracy, timeliness, or appropriateness for a particular purpose.FreeIndiaCoupons.com shall have no responsibility for content errors, omissions, and disclaim all liability for damages associated with user reliance on information provided at the site or any other sites which link to this site.
		 <p></p>
											
										  
									</td>
								</tr>
							</table>
						</center>
					</td>
  

					<table>	  
						<tr>
							<td>
								<table width="100" border="1" align="left">
									<tr>
									
									</tr> 
									
								</table>
							</td>
						</tr>
					</table>
	 
					<center>
					<div class="copyright">
					Copyright &copy; 
					<a href="http://www.onevega.com" class="white">Onevega</a> 
					2013. All rights reserved.
					</div>
					</center>

			</tr>
 
	</table>


