<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Coupon website</title>
<meta http-equiv="Content-Style-Type" content="text/css">
<LINK AHREF="style.css" TYPE="text/css" REL="stylesheet">
<style type="text/css">
<!--
.style1 {font-size: 20px}
.style2 {font-size: 24px}
.style7 {
	color: #000000;
	font-weight: bold;
}
.style8 {
	color: #660000;
	font-weight: bold;
}
.style9 {
	color: #000033;
	font-weight: bold;
}
.style10 {
	color: #800000;
	font-weight: bold;
}
.style14 {font-family: "Times New Roman", Times, serif}
.style15 {font-family: "Times New Roman", Times, serif; font-size: 30px; }
.style17 {font-size: 24px; font-weight: bold; }
.style18 {color: #000000}
-->
</style>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100%" height="100%" valign="top">
<table width="1000" height="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td width="1000" height="1231" valign="top" class="background1">
<table width="988" height="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td width="1053" height="28" valign="top"></td>
  </tr>
  <tr>
    <td width="1053" height="110" valign="top"><%= link_to (image_tag "logo.PNG", :title => "secrh")  %>
	<div style="float:right; margin-right:auto;">
	
	



	<div style="float:right; margin-top:65px;">
        <input name="text" type="text" value="" style="height:25px;" align="top">
        <a href="#"><%= link_to (image_tag "go.PNG", :title => "secrh")  %></a>&nbsp;&nbsp;&nbsp;</div></td>
  </tr>
  <tr>
    <td width="1053" height="22" valign="top"><div align="center" class="menu style1">

<!--

<a href="home.html" class="menu style1">Home</a><img src="/images/spacer.gif" width="60" height="1" align="absmiddle">	
<a href="about.html" class="menu style1">About</a><img src="/images/spacer.gif" width="60" height="1" align="absmiddle">	
<a href="categories.html" class="menu style1">Categories</a><img src="/images/spacer.gif" width="60" height="1" align="absmiddle">	
<a href="stores.html" class="menu style1">Stores</a><img src="/images/spacer.gif" width="60" height="1" align="absmiddle">	
<a href="contact.html" class="menu style2">Contacts</a>

-->
	
	
	
	
	



	
	
	</div></td>
  </tr>
  
  
  
  <tr>
    <td width="1053" height="289" valign="top">
	<%= link_to (image_tag "jerseybaner.PNG", :title => "secrh") %>
	</td>
  </tr>
  <tr>
    <td width="1053" height="27" valign="top" class="tab_im">&nbsp;</td>
  </tr>
  <tr>
    <td width="1053" height="573" valign="top" class="tab">
<table width="950" height="576" border="0" cellspacing="0" cellpadding="0">
  <tr>


    <td width="594" height="576" valign="top"><div class="blok">
 <center>

      <h2 class="style15" onclick="_gaq.push(['_trackEvent', 'hTag', 'h2Click']);">MEN JERSEYS</h2>       
	  </center>





<table width="750" border="0">
  <tr>
  <td width="250">&nbsp;  <%= link_to "Store", store_path %>  </td>
  <td width="250">&nbsp; <%= link_to "Jerseys", jersey_path %></td>
  <td width="250">&nbsp; <%= link_to "MenJerseys", menjersey_path%></td>
       <td width="250">&nbsp; <%= link_to "WomenJerseys", womenjersey_path %></td>
	    <td width="250">&nbsp; <%= link_to "Kids", kids_path%></td>

  
 
    
  </tr>
</table>



<table>	  
	 <tr>
	 <td>
	  <table width="700" border="0">
  <tr>
    <td>&nbsp; &nbsp;
	
	
	
	 <%= link_to (image_tag "wj1.PNG", :title => "secrh" )   , menjerseyaddpage1_path ,   id: "logo"%>
	
	 'HandbagsRS.999'<br/>
	 </a>&nbsp;</td></td>
    <!-- <td>&nbsp;&nbsp;<img src="/images/wj5.jpg" alt="rfg" width="135" height="97" border="0"><br/><a href="index.html">jersey-peplum-jacket&nbsp;RS.&nbsp;1,099</a>&nbsp;</td>
    <td>&nbsp;&nbsp;<img src="/images/c1.jpg" alt="rfg" width="135" height="97" border="0"><br/><a href="index.html">jersey-peplum-jacket&nbsp;RS.&nbsp;1,099</a>&nbsp;</td></td>
	</td>-->
  </tr> 
  <tr>
    
    <!--  <td>&nbsp;&nbsp;<img src="/images/wj2.jpg" alt="rfg" width="135" height="97" border="0"><br/><a href="index.html">jersey-peplum-jacket&nbsp;RS.&nbsp;1,099</a>&nbsp;</td></td> -->
	<td>&nbsp; &nbsp;<%= link_to (image_tag "wj4.PNG", :title => "secrh" )  , menjerseyaddpage2_path ,   id: "logo" %> 
	'HandbagsRS.999'<br/><a href="index.html">
	 </a>&nbsp;</td></td>
    <!--<td>&nbsp;&nbsp;<img src="/images/j6.jpg" alt="rfg" width="135" height="97" border="0"><br/><a href="index.html">jersey-peplum-jacket&nbsp;RS.&nbsp;1,099</a>&nbsp;</td></td>-->
  </tr> 
  <tr>
    
     <!--<td>&nbsp;&nbsp;<img src="/images/wj4.jpg" alt="rfg" width="135" height="97" border="0"><br/><a href="index.html">jersey-peplum-jacket&nbsp;RS.&nbsp;1,099</a>&nbsp;</td></td>
    <td>&nbsp;&nbsp;<img src="/images/mj2.jpg" alt="rfg" width="135" height="97" border="0"><br/><a href="index.html">jersey-peplum-jacket&nbsp;RS.&nbsp;1,099</a>&nbsp;</td></td>-->
	<td>&nbsp; &nbsp;<%= link_to (image_tag "wj3.PNG", :title => "secrh" )  , menjerseyaddpage3_path ,   id: "logo" %> 
	'HandbagsRS.999'<br/><a href="index.html">
	 </a>&nbsp;</td>
  </tr> 
</table>

 



	  
	  


<!--
<td>
<div>Advertisement</div>
<table width="200" height="298" border="1">
        
        <tr>
          <td height="29" bgcolor="#FFFFFF" class="link"><a href="bus.html" class="style7"> </a>
		   
		   </td></tr>
		  
          <td height="26" bgcolor="#FFFFFF" class="link"><a href="deals.html" class="style7"></a></td>
        </tr>
        <tr>
          <td height="25" bgcolor="#FFFFFF" class="link"><a href="fast-food.html" class="style7"></a></td>
        </tr>
       
       
      
       
       
        
      </table>
</td>
</tr>
</table>
	 <!-- 
	  <ul>
       
 
        
        <li>
          <p><img src="/images/j6.jpg" alt="rfg" width="135" height="97" border="0">
		  <a href="index.html">jersey-peplum-jacket.jpg&nbsp;RS.&nbsp;1,099</a>  
        </li>
        
         <img src="/images/j11.jpg" alt="rfg" width="135" height="97" border="0">
		  <a href="index.html">Nike-Buffalo-Bills.jpg supporters of team are seen to sport either one of the jerseys. Stores ...&nbsp;RS.&nbsp;1,099</a>  
        
        <li>
         <p><img src="/images/5.jpg" alt="rfg" width="135" height="97" border="0"></a>&nbsp;Men's Apparel</p>
        </li>
        <li>
          <p><img src="/images/6.jpg" alt="rfg" width="135" height="97" border="0"></a>&nbsp;Women's Apparel</p>
        </li>
        <li>
         <p><img src="/images/7.jpg" alt="rfg" width="135" height="97" border="0"></a>&nbsp;Novelties</p>
        </li>
        
      </ul>
	  
	  -->
      </div></td>
 
  <tr>
    <td width="100%" height="80" valign="top" >
<table width="1000" height="68" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td width="1000" height="68" valign="top" class="background_bottom1"><div class="copyright">Copyright &copy; <a href="http://www.onevega.com" class="white">Onevega</a> 2012. All rights reserved.</div></td>
  </tr>
</table>	
	</td>
  </tr>
</table>

</body>
</html>